<div class="card col-md-4 col-xl-3 chat" id="loginForm">
    <h1 class="text-light">Login</h1>
    <div class="form-group">
      <label for=""></label>
      <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="Your username...">
      <small id="helpId" class="form-text text-light">Enter your username</small>
    </div>
    <button type="button" class="btn btn-outline-light" id="loginBtn">Enter chatzoom</button>
</div>