<div class="col-md-4 col-xl-3 chat" id="roomList">
    <div class="card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-header">
            <div class="input-group">
                <input id="txtCreateRoom" type="text" placeholder="Create new room" name="" class="form-control search">
                <div class="input-group-prepend" id="btnCreateRoom">
                    <span class="input-group-text search_btn"><i class="fas fa-plus-circle"></i></span>
                </div>
            </div>
        </div>
        
        <div class="card-body contacts_body" id="viewRoomList">
            {{!-- <div class="bg-dark p-2 my-1">
                <button type="button" class="btn btn-outline-light btnJoin">Join</button>
                <span class="text-center px-2 text-light">${room}</span>
            </div> --}}
        </div>
        <div class="card-footer"></div>
    </div>
</div>
